KSC_USER=seu.email@empresa.com.br
KSC_PASSWORD=sua_senha_aqui
KSC_WORKSPACE=Nome do Workspace

KSC_CATEGORIAS="Servers - Linux,Servers - Windows"
KSC_PASTA_RELATORIOS="relatorios"
KSC_HEADLESS="false"

DB_USER="root"
DB_PASSWORD="rootpassword"
DB_HOST="localhost"
DB_PORT="5442"
DB_NAME="ksc_dados"

X_API_KEY="sua_chave_api_n8n"
